.ghosts-card {
  position: relative;
  width: 600px;
  height: 350px;
  border: solid 2px #673c63;
  border-radius: 16px;
  background-color: #a4a1a1;
}

.floor {
  position: absolute;
  left: 50%;
  top: 70%;
  width: 350px;
  height: 5px;
  background: #673c63;
  transform: translate(-50%, 126%) scale(1.5);
  box-shadow: 0px 2px 5px #111;
  z-index: 2;
}

.ghosts-container {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 250px;
  height: 150px;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 1;
}

.ghost {
  position: absolute;
  top: 23%;
  width: 67px;
  height: 100px;
}

.ghost-float {
  width: 100%;
  height: 100%;
  animation: bob 2s ease-in-out var(--d) infinite;
}

.ghost-shell {
  width: 100%;
  height: 100%;
  background: #fff;
  border: solid 4px #673c63;
  border-bottom: 0;
  border-right: 0;
  border-radius: 30px 30px 0 0;
  box-shadow: 4px 0 0 #95c6f2 inset;

  --mask:
    radial-gradient(5px at 50% calc(100% - 5px), #000 99%, #0000 101%)
      calc(50% - 10px) 0/20px 100%,
    radial-gradient(5px at 50% calc(100% + 0px), #0000 99%, #000 101%) 50%
      calc(100% - 5px)/20px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);

  transform-origin: center;
  animation: ghost-story 14s linear infinite;
}

.ghost1 {
  left: 0;
  transform: scaleX(-1);
}
.ghost2 {
  right: 0;
}

.ghost2 .ghost-shell {
  animation-delay: -7s;
}

.ghost1-eyes,
.ghost2-eyes {
  position: absolute;
  left: 35%;
  top: 0%;
  width: 35px;
  height: 30px;
  transform: translate(-50%, 0%);
}

.ghost-eye {
  position: absolute;
  top: 80%;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #673c63;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.ghost .ghost-eye {
  animation: scared-eyes 14s linear infinite;
}

.ghost2 .ghost-eye {
  animation-delay: -7s;
}

.ghost-eye.left {
  left: 60%;
}

.ghost-eye.right {
  left: 100%;
}

@keyframes bob {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

@keyframes ghost-story {
  0%,
  10% {
    border: solid 4px #673c63;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 4px 0px 0px #95c6f2 inset;
  }
  12% {
    border-left: 0px;
    border-right: 4px solid #673c63;
    box-shadow: -4px 0px 0px #95c6f2 inset;
  }
  14% {
    transform: scale(1);
  }
  15% {
    background-color: #fff;
    transform: scale(1.11);
  }
  16% {
    transform: scale(1.15);
    background-color: #e67878;
    border-left: 0px;
    border-right: 4px solid #673c63;
    box-shadow: -4px 0px 0px #e23b3b inset;
    opacity: 1;
  }
  19% {
    transform: scale(1);
    opacity: 0;
  }
  21% {
    background-color: #e67878;
    border-left: 0px;
    border-right: 4px solid #673c63;
    box-shadow: -4px 0px 0px #e23b3b inset;
  }
  30% {
    opacity: 0;
    background-color: #fff;
    border-left: 0px;
    border-right: 4px solid #673c63;
    box-shadow: -4px 0px 0px #95c6f2 inset;
  }
  50% {
    opacity: 0;
    border-left: 0px;
    border-right: 4px solid #673c63;
    box-shadow: -4px 0px 0px #95c6f2 inset;
  }
  61% {
    opacity: 1;
  }
  77% {
    border-left: 0px;
    border-right: 4px solid #673c63;
    box-shadow: -4px 0px 0px #95c6f2 inset;
  }
  80% {
    border-right: 0px;
    border-left: 4px solid #673c63;
    box-shadow: 4px 0px 0px #95c6f2 inset;
  }
}

@keyframes scared-eyes {
  0%,
  12% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    filter: none;
  }
  14% {
    transform: translate(-50%, -50%) scale(1.15);
  }

  /* peak scare: widen + tiny shake */
  16% {
    transform: translate(calc(-50% + 1px), calc(-50% - 1px)) scale(1.8, 1.2);
  }
  17% {
    transform: translate(calc(-50% - 1px), calc(-50% + 1px)) scale(1.8, 1.2);
  }
  18% {
    transform: translate(-50%, -50%) scale(1.8, 1.2);
  }

  /* fade with the vanish */
  19%,
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }

  61%,
  100% {
    opacity: 1;
    filter: none;
  }
}
