.ghosts-card {
  position: relative;
  width: 600px;
  height: 350px;
  border: solid 2px #673c63;
  border-radius: 16px;
  background-color: #a4a1a1;
}

.floor {
  position: absolute;
  left: 50%;
  top: 70%;
  width: 350px;
  height: 5px;
  background: #673c63;
  transform: translate(-50%, 126%) scale(1.5);
  box-shadow: 0px 2px 5px #111;
  z-index: 2;
}

.ghosts-container {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 250px;
  height: 150px;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 1;
}

.ghost1,
.ghost2 {
  position: absolute;
  top: 23%;
  width: 67px;
  height: 100px;
  background: #fff;
  border: solid 4px #673c63;
  border-bottom: 0px;
  border-right: 0px;
  border-radius: 30px 30px 0 0;
  box-shadow: 4px 0px 0px #95c6f2 inset;
  --mask:
    radial-gradient(5px at 50% calc(100% - 5px), #000 99%, #0000 101%)
      calc(50% - 10px) 0/20px 100%,
    radial-gradient(5px at 50% calc(100% + 0px), #0000 99%, #000 101%) 50%
      calc(100% - 5px)/20px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.ghost1 {
  left: 0;
  opacity: 0;
  animation:
    bob 2s ease-in-out var(--d) infinite,
    ghost1-scared 14s linear infinite;
}

.ghost2 {
  right: 0;
  animation:
    bob 2s ease-in-out var(--d) infinite,
    ghost2-scared 14s linear infinite;
}

.ghost1-eyes,
.ghost2-eyes {
  position: absolute;
  left: 48%;
  top: 0%;
  width: 35px;
  height: 30px;
  transform: translate(-50%, 0%);
}

.ghost-eye {
  position: absolute;
  top: 80%;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #673c63;
  transform: translate(-50%, -50%);
}

.ghost-eye.left {
  left: 60%;
}

.ghost-eye.right {
  left: 100%;
}

@keyframes bob {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

@keyframes ghost1-scared {
  0%,
  1% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  22% {
    border: solid 4px #673c63;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 4px 0px 0px #95c6f2 inset;
  }
  30% {
    border: solid 4px #673c63;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 4px 0px 0px #95c6f2 inset;
  }
  35% {
    border-left: 0px;
    border-right: 4px solid #673c63;
    box-shadow: -4px 0px 0px #95c6f2 inset;
  }
  57% {
    border-left: 0px;
    border-right: 4px solid #673c63;
    box-shadow: -4px 0px 0px #95c6f2 inset;
  }

  62% {
    border-left: solid 4px #673c63;
    border-right: 0px;
    box-shadow: 4px 0px 0px #95c6f2 inset;
  }
  64% {
    transform: scale(1);
  }
  65% {
    background-color: #fff;
    transform: scale(1.11);
  }
  66% {
    transform: scale(1.15);
    background-color: #e67878;
    border-left: solid 4px #673c63;
    border-right: 0px;
    box-shadow: 4px 0px 0px #e23b3b inset;
    opacity: 1;
  }
  69% {
    transform: scale(1);
    opacity: 0;
  }
  71% {
    background-color: #e67878;
    border-left: solid 4px #673c63;
    border-right: 0px;
    box-shadow: 4px 0px 0px #e23b3b inset;
  }
  80% {
    opacity: 0;
    background-color: #fff;
    border-right: 0px;
    border-left: 4px solid #673c63;
    box-shadow: -4px 0px 0px #95c6f2 inset;
  }
  100% {
    opacity: 0;
    border-right: 0px;
    border-left: 4px solid #673c63;
    box-shadow: -4px 0px 0px #95c6f2 inset;
  }
}

@keyframes ghost2-scared {
  0%,
  7% {
    border: solid 4px #673c63;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 4px 0px 0px #95c6f2 inset;
  }
  12% {
    border-left: 0px;
    border-right: 4px solid #673c63;
    box-shadow: -4px 0px 0px #95c6f2 inset;
  }
  14% {
    transform: scale(1);
  }
  15% {
    background-color: #fff;
    transform: scale(1.11);
  }
  16% {
    transform: scale(1.15);
    background-color: #e67878;
    border-left: 0px;
    border-right: 4px solid #673c63;
    box-shadow: -4px 0px 0px #e23b3b inset;
    opacity: 1;
  }
  19% {
    transform: scale(1);
    opacity: 0;
  }
  21% {
    background-color: #e67878;
    border-left: 0px;
    border-right: 4px solid #673c63;
    box-shadow: -4px 0px 0px #e23b3b inset;
  }
  30% {
    opacity: 0;
    background-color: #fff;
    border-left: 0px;
    border-right: 4px solid #673c63;
    box-shadow: -4px 0px 0px #95c6f2 inset;
  }
  50% {
    opacity: 0;
    border-left: 0px;
    border-right: 4px solid #673c63;
    box-shadow: -4px 0px 0px #95c6f2 inset;
  }
  61% {
    opacity: 1;
  }
  80% {
    border-left: 0px;
    border-right: 4px solid #673c63;
    box-shadow: -4px 0px 0px #95c6f2 inset;
  }
  85% {
    border-right: 0px;
    border-left: 4px solid #673c63;
    box-shadow: 4px 0px 0px #95c6f2 inset;
  }
}
